.App {
  text-align: center;
}

body {
  background-color: lightgrey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#list-body {
  margin: auto;
  width: 50%;
  height: 100%;
  background-color: white;
  padding: none;
  margin: none;
}

#list-body-ul {
  list-style-type: none;
  padding-inline-start: 0;
}

#list-body-li {
  border-bottom: 1px solid black;
}

.Collapsible__contentInner {
  margin-top: 5%;
}


#building-info {
  list-style-type: disc;
  border-bottom: none;
}

.trigger {
  background-color: #282c34;
  padding: 25px;
  color: white;
}